<div>
  <% if can?(:approve, advert) %>
      <%= link_to t('advert.actions.approve'), approve_advert_path(id: advert),
                  method: :post, class: 'btn btn-success pull-right' %>

  <% end %>
  <% if can?(:reject, advert) %>
      <%= link_to t('advert.actions.reject'), reject_reason_advert_path(id: advert),
                  class: 'btn btn-danger pull-right' %>
  <% end %>
  <% if can? :update, advert %>
      <%= link_to t('advert.actions.update'), edit_advert_path(advert), class: 'btn btn-default' %>
  <% end %>

  <% if can? :read, advert %>
      <%= link_to t('advert.actions.show'), advert_path(advert), class: 'btn btn-success' %>
  <% end %>
</div>