<h1>Listing adverts</h1>

<table>
  <thead>
  <tr>
    <th>Body</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @adverts %>
  <%= paginate @adverts %>
  </tbody>
</table>

<br>

<%= link_to 'New Advert', new_advert_path %>
