<div>

    <h3>Please, enter reject reason:</h3>
  <%= simple_form_for(@advert, url: rejected_advert_path(id: @advert), html: {method: :put}) do |f| %>

        <div>
          <%= f.input :reject_reason, value: 'because...' %>
        </div>
        <%= f.submit "Reject", class: 'btn btn' %>
  <% end %>
</div>
