<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hello, <%= @advert.user.name.capitalize %></h1>

<p>
  Your advert rejected, because <%= @advert.reject_reason %> : <%= link_to @advert %>
</p>
</body>
</html>
