<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hello, <%= @advert.user.name.capitalize %></h1>

<p><b>
  Your advert <%= @state %>:
</b></p>

<p>
  <%= link_to @advert.body, advert_url(@advert) %>
</p>


</body>
</html>